[submodule "agent"]
	path = agent
	url = https://github.com/TheGrimmChester/OPA-Agent.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/TheGrimmChester/OPA-Dashboard.git
	branch = feature/sql-profiling
[submodule "php-extension"]
	path = php-extension
	url = https://github.com/TheGrimmChester/OPA-PHP-extension.git
[submodule "php-helper"]
	path = php-helper
	url = https://github.com/TheGrimmChester/OPA-PHP-lib.git
